mat-toolbar {
  background-color: #00acee;
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 30px;
}
.header h2 {
  font-weight: bold;
}

.footer {
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  min-height: 30px;
  max-height: 30px;
}
.footer p {
  font-size: 13px;
  color: white;
  margin-top: 13px;
}
.container {
  margin: 0 auto;
  width: 50%;
  height: 300px;
  border: 2px solid #63d471;
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}

@media only screen and (max-width: 600px){
  .container{
    width: 90%;
  }
}

.template {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  margin-bottom: 30px;
}
.download-btn {
  border: none;
  border-radius: 20px;
  margin-bottom: 14px;
  color: white;
  background-color: #04e762;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.download-btn:hover {
  opacity: 0.5;
}

a{
  text-decoration: none;
  padding: 10px;
}
.guide-section{
  margin: 0 auto;
  margin-top: 40px;
  width: 300px;
  text-align: center;
}
.guide-section img{
  width: 30px;
}
